<div class="container">
    <ul class="nav nav-tabs">
        <li>
            <a href="{{ url_for('index') }}">Startseite</a>
        </li>
    </ul>
</div>
{% include 'admin/model/list.html' %}
<div class="container">
   <a href="#">Back to top</a>
</div>
