{% extends "admin/model/list.html" %}
{% block brand %}
          <span class="brand"><a href="{{ url_for('index') }}">{{ admin_view.admin.name }}</a></span>
{% endblock %}
{% block body %}
<div class="container">
    <ul class="nav nav-tabs">
	{% block navitems %}
	{% endblock %}
    </ul>
</div>
{{ super() }}
<div class="container">
   <a href="#">Back to top</a>
</div>
{% endblock %}
