.exomenue {
	margin-top: 20px;
	margin-left: 0px;
}

body {
	font-size: 15px;
	line-height: 20px;
}

.content {
	padding-left: 20px;
	padding-right: 20px;
}

.footer {
	padding-left: 20px;
	padding-right: 20px;
}

.table {
	width: 0%;
	width: auto;
}

a {
	text-decoration: none;
}

a, .logotext {
	color: #990000;
}

.logotext {
	font-variant:small-caps;
	margin: 0.5ex;
}

.csvlink {
	margin-bottom: 20px;
	padding-left: 6px;
}

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
	background-color: #990000;
}

table{
	max-width: 100%;
}

td {
	white-space: nowrap;
	overflow:hidden
}

input.tablesorter-filter {
	display: block;  /* workaround for chrome to fit to column width */
	margin-bottom: 0px;
}

input, textarea, select, .uneditable-input {
	width: 335px;
}

.logtype0 {
	color: limegreen;
}

.logtype1 {
	color: blue;
}

.logtype2 {
	color: tomato;
}


.marginfix {
	margin-left: 0px;
}

.left {
	float:left;
}

.right {
	float:right;
}

h1 {
	font-size:1.8em;
}

h2 {
	font-size:1.6em;
}

.log {
	padding: 10px;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 15px;
}

p {
	width: 80ex;
}

td.tright,th.tright {
	text-align: right;
}

td.tcenter,th.tcenter {
	text-align: center;
}

.bad-gender {
	background: #ff9999 !important;
	font-weight: bold;
}

.news-title {
	font-size: 17px;
	padding-top: 5px;
	font-weight: bold;
	vertical-align:text-bottom;
}

.table-striped tr:nth-child(n):hover td {
	background-color: rgb(200, 150, 150);
}

.table tr:hover td {
	background-color: rgb(220, 130, 130);
}

td.text-right {
	text-align: right;
}

td.text-center {
	text-align: center;
}


input.small {
	width: 50px;
}


.query-step-description {
	padding-top: 5px;
	padding-right: 10px;
	display: block;
	color: #990000;
}

.query-step {
	padding-top: 15px;
	float: left;
	border-top: 1px solid #AAAAAA;
}

.well {
	background-color: #F7F7F7;
}

.table tr.selected {
	background-color: rgb(227, 247, 255);
}

.step {
	width: 350px;
	display: inline-block;
}

.query-column {
	column-width: 355px;
	column-gap: 10px;
	-webkit-column-width: 355px;
	-webkit-column-gap: 15px;
	-moz-column-width: 355px;
	-moz-column-gap: 15px;
}

.tab-pane {display: block;}
.tab-content {overflow: visible;}

.chzn-select {
	width: 100%;
}
