{% extends "layout.html" %}
{% block title %}Allele counts for location {{ pos }}{% endblock %}
{% block body %}

<div style="display: inline-block;">
<table class="table table-bordered table-condensed sortable" style="width: 100%;">
	<thead>
		<tr>
			<th></th>
			{% for allele in alleles %}
			<th colspan=2>{{ allele }}</th>
			{% endfor %}
		</tr>
		<tr>
			<th>Sample</th>
			{% for allele in alleles %}
			<th>forward</th>
			<th>backward</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for sample, forward, backward in counts %}
		{% set cls = "success" if sample.accession in highlight_samples else "" %}
		<tr class="{{ cls }}">
			<td>{{ sample }}</td>
			{% for allele in alleles %}
			<td class="highlight-nonzero text-right">{{ forward[allele] }}</td>
			<td class="highlight-nonzero text-right">{{ backward[allele] }}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>
</div>

{% endblock %}
