{% extends "layout.html" %}
{% block title %}Persons{% endblock %}
{% block caption %} <h1>Search for Autosomal Recessive Mutations</h1> {% endblock %}

{% block body %}
	<form method="post" action="{{ url_for('arm') }}" class="well" style="width: 380px;">
		<label>Find autosomal recessive mutations in the following Persons:</label>
		<textarea rows="8" class="span5" name="persons" id="persons">P600</textarea><br/>
		<button type="submit" class="btn">Submit</button>
	</form>
{% endblock %}