{% extends "layout.html" %}
{% block title %}Bams{% endblock %}
{% block caption %} <h1>Bams</h1> {% endblock %}

{% block body %}
{% import 'modules/columnhide.html' as columnhide %}
	<table name="persons" class="table table-bordered table-condensed  table-striped sortablefilter">
		<thead>
		<tr>
			<th>Name</th>
			<th>Last Modified</th>
			<th>Size</th>
		</tr>
		</thead>
		<tbody>
		{% for file in files %}
		<tr>
			<td><a href="{{ request.script_root }}/bam/{{ file.name }}">{{ file.name }}</a></td>
			<td>{{ file.modified }}</a></td>
			<td>{{ file.size }}</a></td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}

