{% extends "layout.html" %}
{% from "macros.html" import aux_filter %}
{% block title %}Call counts{% endblock %}
{% block head %}
	<script src="static/chosen-master/chosen/chosen.jquery.js" type="text/javascript"></script>
	<script>
		function changeEnabled(checked) {
			document.getElementById("genes").disabled = checked;
		}

		$(document).ready(function(){
			$(".chzn-select").chosen();
			$(".chzn-select-deselect").chosen({allow_single_deselect:true});
		});
	</script>
{% endblock %}
{% block body %}

<form data-persist="garlic" data-destroy="false" method="post" action="{{ url_for('call_counts') }}">
	<div style="display: inline-block;">
		<div class="well">
			<div class="query-step-description">
				<b>Step 1</b></br>
				<small>Select samples or group of samples to analyse</small>
			</div>

			<div class="query-step">
				<fieldset>
				<label>Find mutations in <b>these samples</b>:</label>

				<select select data-placeholder="Pick Samples" class="chzn-select" tabindex="4" autofocus="autofocus" data-role="chosen" id="samples" multiple name="samples">
				{% for sample in samples %}
					<option value="{{ sample.accession }}"{%- if sample.accession in ("MA153", "MA162")-%} selected{% endif %}>{{ sample.accession }} ({{ sample.disease.name }})</option>
				{% endfor %}
				</select>

				<label>Also find mutations in these <b>sample groups</b>:</label>
				<select select data-placeholder="Pick Sample Groups" class="chzn-select" tabindex="4" autofocus="autofocus" data-role="chosen" id="sample_groups" multiple name="sample_groups">
				{% for group in sample_groups %}
					<option value="{{ group.id }}">{{ group.name }} ({{ group.samples|join(", ", attribute="accession") }})</option>
				{% endfor %}
				</select>

				<div style="display: block;"><small><a href="{{ url_for('admin.index') }}samplegroupview">Create a sample group</a>.</small></div>

		<!--	<textarea rows="4" cols="30" name="samples">MA153 MA162</textarea>
			<label>(Unsure which sample is which? See <a href="{{ url_for('samplelist') }}">the list of samples</a>).</label>-->
				</fieldset>
			</div>

			<div style="clear: both;"></div>
		</div>
		<div class="well">
			<div class="query-step-description">
				<b>Step 2</b></br>
				<small>Select filter options</small>
			</div>
			<div class="query-step">
				<fieldset>
				<label>Minimum quality:</label>
				<input name="quality" type="number" value="{{ quality }}" style="width: auto"/><br/>

				{{ aux_filter() }}
				</fieldset>
			</div>
			<div style="clear: both;"></div>
		</div>
		<label><em>Please be patient, the query will take a few minutes to complete.</em></label>
		<button type="submit" class="btn">Submit</button>
	</div>
</form>

{% endblock %}
