{% extends "layout.html" %}
{% from "macros.html" import aux_filter %}
{% block title %}Call counts{% endblock %}
{% block body %}

Variants in total: {{ variant_count }}

<h3>Calls per unit</h3>
<table class="table table-bordered table-condensed table-striped sortable">
	<thead>
		<tr>
			<th>Sample</th>
			<th>Number of variants</th>
			<th title="Number of Transitions">Ti</th>
			<th title="Number of Transversions">Tv</th>
			<th title="Ti/Tv-rate">Ti/Tv</th>
			<th title="A rought estimate of false-discovery-rate from observed and expected Ti/Tv-rate as proposed by DePristo et al., Nature Genetics 2011.">estimated FDR</th>
		</tr>
	</thead>
	<tbody>
		{% for sample, count, transitions, transversions in counts %}
		<tr>
			<td>{{ sample.accession }}</td>
			<td style="text-align: right">{{ count | none_zero }}</td>
			<td style="text-align: right">{{ transitions | none_zero }}</td>
			<td style="text-align: right">{{ transversions | none_zero }}</td>
			<td style="text-align: right">{{ calc_titv_rate(transitions, transversions) | decimal }}</td>
			<td style="text-align: right">{{ estimate_fdr(transitions, transversions) | percentage }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
