{% extends "layout.html" %}
{% block title %}Test for de-novo mutation {{ ref }}&rarr;{{ alt }} at position {{ pos }}{% endblock %}
{% block body %}

<div style="display: inline-block;">
{% for sample in samples %}
<table class="table table-bordered table-condensed sortable" style="width: 100%;">
	<thead>
		<tr>
			<th colspan=2>Test for de-novo mutation {{ref}}&rarr;{{alt}} in {{sample}}</th>
		</tr>
		<tr>
			<th>vs. Sample</th>
			<th>p-value</th>
		</tr>
	</thead>
	<tbody>
		{% for member, prob in denovo_probs(sample) %}
		<tr>
			<td>{{ member }}</td>
			<td class="text-right">{{ prob }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endfor %}
</div>

{% endblock %}
