{% extends "layout.html" %}
{% block title %}Diseases{% endblock %}
{% block body %}

<table class="table table-bordered table-condensed table-striped sortable">
	<thead>
		<tr>
			<th>Disease</th>
			<th>Short name</th>
			<th>Number of samples</th>
		</tr>
	</thead>
	<tbody>
		{% for disease, count in counts %}
		<tr>
			<td>{{ disease.name}}</td>
			<td>{{ disease.short_name }}</td>
			<td style="text-align: right">{{ count }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}