{% extends "layout.html" %}
{% block title %}Disk usage{% endblock %}
{% block body %}

Top 20, ordered by size.

<table class="table table-bordered table-condensed table-striped sortable">
	<thead>
		<tr><th>Table</th><th>Size</th></tr>
	</thead>
	<tbody>
		{% for row in rows %}
		<tr><td>{{ row.relation }}</td><td>{{ row.size }}</td></tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}