{% extends "layout.html" %}
{% block caption %}{% endblock %}{% block title %}Error{% endblock %}

{% block body %}
	<div class="alert alert-error">
		{{ message }}
	</div>
	<a href="javascript:history.back()">back</a>
{% endblock %}

