{% extends "layout.html" %}
{% block title %}Exclusive Variants{% endblock %}
{% block body %}
	<table class="table table-bordered table-condensed table-striped sortable">
		<thead>
		<tr>
			<th>Variant</th>
			<th class="sorttable_numeric">No. of exclusive Variants</th>
		</tr>
		</thead>
		<tbody>
		{% for stat in stats %}
		<tr>
			<td> {{ stat[1] }}</td>
			<td> {{ stat[0] }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}

