{% extends "layout.html" %}
{% block title %}Gender check: Mapped Y/X ratio{% endblock %}
{% block body %}
<p>This table shows, for each unit that is in the database, the ratio of
reads that were mapped to the Y&nbsp;chromosom divided by the number of reads
that were mapped to the X&nbsp;chromosome. Units where known and predicted
gender do not match are highlighted.</p>
<table class="table table-bordered table-condensed table-striped sortable">
	<thead>
		<tr>
			<th>Unit</th>
			<th>Sample</th>
			<th>Capture kit</th>
			<th>Patient</th>
			<th>Gender</th>
			<th>Mapped X</th>
			<th>Mapped Y</th>
			<th>Ratio Y/X</th>
		</tr>
	</thead>
	<tbody>
		{% for x, y in counts -%}
		{%- set patient = x.unit.library.sample.patient -%}
		{%- set ratio = y.mapped / x.mapped -%}
		<tr>
			<td>{{ x.unit.prefix }}</td>
			<td>{{ x.unit.library.sample.accession }}</td>
			<td>{{ x.unit.library.capturekit.short_name }}</td>
			<td>{{ patient.accession }}</td>
			{%- if ratio < 0.02 and patient.gender == 'm' or ratio > 0.04 and patient.gender == 'f' -%}
			<td class="bad-gender">
			{%- else -%}
			<td>
			{%- endif -%}
			{{ patient.gender|none_filter }}</td>
			<td class="tright">{{ x.mapped }}</td>
			<td class="tright">{{ y.mapped }}</td>
			<td>{{ '%.3f' % (y.mapped / x.mapped) }}</td>
		</tr>
		{%- endfor %}
	</tbody>
</table>

{% endblock %}
