
{% extends "layout.html" %}
{% block title %}Import Status{% endblock %}
{% block body %}
	<table class="table table-bordered table-condensed table-striped sortable">
		<thead>
		<tr>
			<th>Sample</th>
			<th>Current Job</th>
			<th>Last Update</th>
		</tr>
		</thead>
		<tbody>
		{% for stat in stats %}
		<tr>
			<td>{{ stat.sample_accession }}</td>
			<td>{{ stat.current_job }}</td>
			<td>{{ stat.created|datetime }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}

