
{% extends "layout.html" %}
{% block title %}Activities{% endblock %}
{% block body %}
	<br />
	<div class="span10">
	{% for log in logs %}
		<div class="log">
			<div style="margin-bottom: 10px;">
				<div style="width: 75px; float:left;"><span class="badge" style="background-color: {{log.log_type.color}};">{{log.log_type.name}}</span></div>
				<div style="float:left;"><span class='news-title'>{{log.title}}</span></div>
				<div style="float:right"><span class="label">{{log.created|datetime}}</span></div>
				<div style="clear: both;"></div>
			</div>
			<div style="font-size: 14px; text-align: justify">
			{{log.text}}
			</div>
		</div>
	{% endfor %}
	</div>
{% endblock %}

