{% extends "layout.html" %}
{% block title %}Known Variants{% endblock %}
{% block body %}
	<table class="table table-bordered table-condensed table-striped sortable">
		<thead>
		<tr>
			<th>Source</th>
			<th class="sorttable_numeric">No. of variants</th>
		</tr>
		</thead>
		<tbody>
		{% for stat in stats %}
		<tr>
			<td>{{ stat.name }}</td>
			<td>{{ stat.count }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}

