<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='twitter-bootstrap/css/bootstrap.css') }}" >
	<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='tablesorter/css/exomate/style.css') }}" >
	<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='chosen-master/chosen/chosen.css') }}" >
	<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='select2/select2-bootstrap.css') }}" >
	<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='select2/select2.css') }}" >
	<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='nvd3/nv.d3.css') }}">

	<link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='exomate.ico') }}">

	<script src="{{url_for('static', filename='nvd3/d3.v2.min.js') }}"></script>
	<script src="{{url_for('static', filename='nvd3/nv.d3.min.js') }}"></script>
	<script src="{{url_for('static', filename='twitter-bootstrap/js/jquery.js') }}"></script>
	<script src="{{url_for('static', filename='twitter-bootstrap/js/bootstrap.js') }}"></script>
	<script src="{{url_for('static', filename='tablesorter/js/jquery.tablesorter.min.js') }}"></script>
	<script src="{{url_for('static', filename='tablesorter/js/jquery.tablesorter.widgets.min.js') }}"></script>
	<script src="{{url_for('static', filename='chosen-master/chosen/chosen.jquery.js') }}"></script>
	<script src="{{url_for('static', filename='select2/select2.js') }}"></script>
	<script src="{{url_for('static', filename='autonvd3.js') }}"></script>
	<script src="{{url_for('static', filename='tabledl.js') }}"></script>
	<script src="{{url_for('static', filename='excellentexport/excellentexport.min.js') }}"></script>
{% block head %}
{% endblock %}
	<title>{% block title %}{% endblock %}</title>
</head>

<body>
<script>
	function updateRownumber() {
		$(this).find("tr:not(.filtered) td.rownumber").each(function(i) {
			$(this).text(i);
		});
	}

	$(function () {
		var pn = window.location.pathname;
		$("a[href='" + pn + "']").parent().addClass("active");
		$("li.dropdown a[href='" + pn + "']").parent().parent().parent().addClass("active");
		$("table.sortablefilter").tablesorter({
			widgets: ["filter"],
			// headers: { 5: { sorter: false, filter: false } },
			widgetOptions : {

			// css class applied to the table row containing the filters & the inputs within that row
			filter_cssFilter : 'tablesorter-filter',
			filter_childRows : false,
			filter_startsWith : false,
			filter_ignoreCase : true,
			filter_searchDelay : 1000,
			filter_functions : {}
			}
		});

		$("table.sortable").tablesorter({
		});

		$("table").bind("sortEnd", updateRownumber);
		$("table").bind("filterEnd", updateRownumber);
		$("table").each(updateRownumber);

		$("table.sortablefilter tr.tablesorter-filter").hide();

		$("a.filterswitch").click(function(){
			var $this = $(this);
			$("[name='" + $this.attr("ref") + "'] tr.tablesorter-filter").toggle();
		});

		$("span.inflate_area a.deflate").click(function() {
			$(this).parent().find("span.inflatable").css("display", "none");
			$(this).parent().find("a.inflate").css("display", "inline");
			$(this).css("display", "none");
		});

		$("span.inflate_area a.inflate").click(function() {
			$(this).parent().find("span.inflatable").css("display", "inline");
			$(this).parent().find("a.deflate").css("display", "inline");
			$(this).css("display", "none");
		});

		$("a.shortener").click(function() {
			var $this = $(this);
			var name = $this.text();
			$this.text($this.attr("text"));
			$this.attr("text", name);
		});

		$("th,label").tooltip({container: "body"});

		$("td.highlight-nonzero").each(function() {
			$this = $(this);
			if(parseFloat($this.text()) == 0)
				$this.css("color", "transparent");
		});
		$("#reportissue").click(function() {
			$("#nopatients").modal();
		});
	});
</script>
	<h1 class="logotext"><a href="{{ url_for('index') }}">Exomate</a></h1>
	<div class="row exomenue">
		<div class="columns">
			<ul class="nav nav-tabs" id="exotabs">
				<li><a href="{{ url_for('stats') }}">Statistics</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Infos<b class="caret"></b></a>
					 <ul class="dropdown-menu">
						<li><a href="{{ url_for('persons') }}">Persons</a></li>
						<li><a href="{{ url_for('samplelist') }}">Samples</a></li>
						<li><a href="{{ url_for('runs') }}">Runs</a></li>
						<li><a href="{{ url_for('units') }}">Units</a></li>
						<li><a href="{{ url_for('diseases') }}">Diseases</a></li>
					</ul>
				</li>
				<li><a href="{{ request.script_root }}/bams">BAM Files</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Mutations<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{{ url_for('mutations') }}">General query</a></li>
						<li><a href="{{ url_for('recessive') }}">Recessive query</a></li>
						<li><a href="{{ url_for('purity') }}">Purity Estimation</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Variants<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{{ url_for('variants') }}">Search</a></li>
						<li><a href="{{ url_for('call_counts') }}">Call counts</a></li>
						<li><a href="{{ url_for('sample_overlap') }}">Sample overlap</a></li>
						<li><a href="{{ url_for('context') }}">Variant Context</a></li>
					</ul>
				</li>
				<li><a href="{{ url_for('gender_check') }}">Gender check</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Debugging<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{{ url_for('disk_usage') }}">Disk usage</a></li>
						<li><a href="{{ url_for('knownstats') }}">Known Variants</a></li>
						<li><a href="{{ url_for('coverage') }}">Coverage</a></li>
						<li><a href="{{ url_for('exclusive_variants') }}">Exclusive Variants</a></li>
					</ul>
				</li>
				<li><a href="#" id="reportissue">Report issue</a>
				<div id="nopatients" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="nopatientsLabel" aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="nopatientsLabel">Important!</h3>
					</div>
					<div class="modal-body">
						<span>Never include any patient data when reporting an issue.</span>
					</div>
					<div class="modal-footer">
						<a href="https://bitbucket.org/marcelm/exomate/issues" class="btn btn-primary">Report issue</a>
					</div>
				</div>
				</li>
				<li><a href="{{ url_for('importstatus') }}">Import Status</a></li>
			</ul>
		</div>
	</div>

	<div class="content">

	{% if warning %}
	<p class="alert"><em>Warning:</em> {{ warning }}</p>
	{% endif %}

	{% block caption %} <h2> {{ self.title() }}</h2> {% endblock %}

	{% block body %} {% endblock %}

	</div>
<div class="footer">
	<p>Version: {{ version }}; Time spent: {{ g.request_time() }}</p>
</div>

</body>
</html>
