{% macro igv_link(filename, chrom=None, pos=None) -%}
	{% if (chrom and pos) %}
	<a href="http://localhost:60151/load?file={{ request.url_root }}bam/{{ filename }}.bam&amp;genome=hg19&amp;locus=chr{{ chrom }}:{{ pos + 1 }}&amp;merge=true">IGV</a>
	{% else %}
	<a href="http://localhost:60151/load?file={{ request.url_root }}bam/{{ filename }}.bam&amp;genome=hg19">IGV</a>
	{% endif %}
{%- endmacro -%}

{% macro ucsc_link(chrom, pos) %}
<a href="http://genome.ucsc.edu/cgi-bin/hgTracks?db=hg19&amp;position=chr{{ chrom }}:{{ pos  }}-{{ pos + 2}}">UCSC</a>
{%- endmacro -%}

{%- macro genemania_single_link(gene_name) -%}
<a href="http://genemania.org/link?o=human&amp;g={{ gene_name }}">GM</a>
{%- endmacro -%}

{%- macro omim_link(gene_name) -%}
<a href="http://www.omim.org/search?index=entry&amp;search={{ gene_name }}">OMIM</a>
{%- endmacro -%}


{%- macro thousandgenomes_link(chrom, pos) -%}
<a href="http://browser.1000genomes.org/Homo_sapiens/Location/Chromosome?r={{ chrom }}:{{ pos }}">1000Genomes</a>
{%- endmacro -%}


{% macro shorten(value) %}
	{%- if value|length > 5 -%}
		{{ value[:4] }}<a class="shortener" text="{{ value[4:] }}">...</a>
	{%- else -%}
		{{ value }}
	{%- endif -%}
{%- endmacro -%}

{% macro transcript_string(feature, row) %}
	{% set transcript_string = feature.transcript.name[(row.gene.name|length + 1):] %}
	{% set transcript_string = transcript_string ~ ":" ~ feature.exon_number %}
	{%- if feature.transcript_pos != None -%}
		{%- if feature.transcript.strand == '+' -%}
			{% set amino_acid_pos = (feature.transcript_pos + row.pos - feature.start) / 3 + 1%}
		{%- else -%}
			{% set amino_acid_pos = (feature.transcript_pos - row.pos + feature.stop - 1) / 3 + 1%}
		{%- endif -%}
		{% set transcript_string = transcript_string ~ ":" ~ amino_acid_pos | int %}
	{%- endif -%}
	<a class="item" href="http://www.ensembl.org/id/{{feature.transcript.accession}}" title="Show transcript in ENSEMBL">{{ transcript_string }}</a>
	{%- if feature.transcript.protein_accession == None %}){% endif -%}
{%- endmacro -%}

{% macro aux_filter() %}
<label>Dislay variants that pass the following thresholds (the default values follow the GATK Best Practices):</label>
<table>
	<thead>
		<tr>
			<th></th>
			<td><label>SNPs</label></td>
			<td><label>Indels</label></td>
		</tr>
	</thead>
	<tbody>
	<tr>
		<th class="tright" title="Phred-scaled p-value using Fisher's Exact Test to detect strand bias (the variation being seen on only the forward or only the reverse strand) in the reads. More bias is indicative of false positive calls. Default values: 60.0 for SNPs, 200.0 for Indels."><label>Strand bias &#60;</label></th>
		<td><input class="small" name="snp_strand_bias" type="text" value="60.0"/></td>
		<td><input class="small" name="indel_strand_bias" type="text" value="200.0"/></td>
	</tr>
	<tr>
		<th class="tright" title="Variant quality / unfiltered depth of non-reference samples. Default values: 2.0 for both SNPs and Indels."><label>Quality by depth &#62;</label></th>
		<td><input class="small" name="snp_qual_by_depth" type="text" value="2.0"/></td>
		<td><input class="small" name="indel_qual_by_depth" type="text" value="2.0"/></td>
	</tr>
	<tr>
		<th class="tright" title="Average mapping quality of the reads across all samples. Default values: 40.0 for SNPs, empty for Indels."><label>Average mapping quality &#62;</label></th>
		<td><input class="small" name="snp_mapping_qual" type="text" value="40.0"/></td>
		<td><input class="small" name="indel_mapping_qual" type="text" value=""/></td>
	</tr>
	<tr>
		<th class="tright" title="Consistency of the site with two (and only two) segregating haplotypes. Haplotypes are created as consensus from reads mapping at that locus. Higher scores are indicative of regions with bad alignments. Default values: 13.0 for SNPs, empty for Indels."><label>Haplotype score &#60;</label></th>
		<td><input class="small" name="snp_haplotype_score" type="text" value="13.0"/></td>
		<td><input class="small" name="indel_haplotype_score" type="text" value=""/></td>
	</tr>
	<tr>
		<th class="tright" title="U-based z-approximation from the Mann-Whitney Rank Sum Test for mapping qualities. Smaller values indicate that there is a bias in the distribution of mapping qualities between alternate and reference allele. Default values: -12.5 for SNPs, empty for Indels."><label>Mapping quality bias &#62;</label></th>
		<td><input class="small" name="snp_mapping_qual_bias" type="text" value="-12.5"/></td>
		<td><input class="small" name="indel_mapping_qual_bias" type="text" value=""/></td>
	</tr>
	<tr>
		<th class="tright" title="U-based z-approximation from the Mann-Whitney Rank Sum Test for the distance from the end of the read for reads with the alternate allele. Smaller values indicate a bias in the distribution of the variant posititions inside the reads towards one end. Default values: -8.0 for SNPs, -20.0 for Indels."><label>Read position bias &#62;</label></th>
		<td><input class="small" name="snp_read_pos_bias" type="text" value="-8.0"/></td>
		<td><input class="small" name="indel_read_pos_bias" type="text" value="-20.0"/></td>
	</tr>
</table>
{% endmacro %}
