{% extends "layout.html" %}
{% from "macros.html" import shorten, igv_link, ucsc_link, genemania_single_link, omim_link, thousandgenomes_link, transcript_string with context %}
{% block title %}Mutations{% endblock %}
{% block body %}

{% macro listout(list) %}
	{%- for l in list|sort -%}
		{%- if not loop.first %}, {% endif -%}
		{{ l }}
	{%- endfor -%}
{%- endmacro %}

<!-- FILTER IN filters.py!!! -->

<script type="text/javascript">
function genemania_open()
{
	var url="http://genemania.org/link?o=human&g=";
	var lastchecked = false;
	var count = 0;
	for(var i=0; i < document.geneform.show_yesno.length; i++)
	{
		if (lastchecked) {url += "|";}
		if (document.geneform.show_yesno[i].checked)
		{
			url += document.geneform.show_yesno[i].value;
			lastchecked = true;
			count++;
		}
		else
		{
			lastchecked = false;
		}
	}
	if(count)
	{
		window.open(encodeURI(url), '_blank');
	}

}

function geq(v1, v2) {
	return v1 >= v2;
}

function leq(v1, v2) {
	return v1 <= v2;
}

function filterFloats(comp) {
	return (function(e, n, f, i) {
		f = parseFloat(f);
		for(var j=0; j<n.length; j++) {
			if(comp(n[j], f)) {
				return true;
			}
		}
		return false;
	});
}

$(function () {
	$.tablesorter.addParser({ 
		// set a unique id 
		id: 'floats', 
		is: function(s) { 
			// return false so this parser is not auto detected 
			return false; 
		}, 
		format: function(s) { 
			// format your data for normalization 
			return s.split(',').map(parseFloat);
		}, 
		// set type, either numeric or text 
		type: 'numeric' 
	});

	$("table#mutations").tablesorter({
		widgets: ["filter", "stickyHeaders"],
		headers: {
			0: {sorter: false},
			1: {sorter: false},
			12: {sorter: 'floats'},
			13: {sorter: 'floats'},
			14: {sorter: 'floats'},
			15: {sorter: 'floats'},
			16: {sorter: 'floats'},
			17: {sorter: false},
		},
		widgetOptions : {
			// css class applied to the table row containing the filters & the inputs within that row
			filter_cssFilter : 'tablesorter-filter',
			filter_childRows : false,
			filter_startsWith : false,
			filter_ignoreCase : true,
			filter_searchDelay : 1000,
			filter_functions : {
				3: filterFloats(geq),
				12: filterFloats(geq),
				13: filterFloats(leq),
				14: filterFloats(geq),
				15: filterFloats(geq),
				16: filterFloats(geq),
			}
		}
	});
});
</script>

<script>
$(document).ready(function() {
  $('#mutations tbody tr')
    .filter(':has(:checkbox:checked)')
    .addClass('selected')
    .end()
  .click(function(event) {
    $(this).toggleClass('selected');
    if (event.target.type !== 'checkbox') {
      $(':checkbox', this).attr('checked', function() {
        return !this.checked;
      });
    }
  });
});
</script>

<ul class="nav nav-pills">
	<li class="active"><a href="#mutations-view" data-toggle="pill">Mutations</a></li>
	<li><a id="stats-pill" href="#mutation-stats-view" data-toggle="pill">Stats</a></li>
	<li><a href="#query-parameters-view" data-toggle="pill">Query Parameters</a></li>
	<li><a href="#additional-information-view" data-toggle="pill">Additional Information</a></li>
</ul>
<script>
// this is needed because the nvd3 plot sizes need to be updated when the tab is shown.
$('#stats-pill').on('shown', function (e) {
	$(window).trigger('resize');
})
</script>
<div class="tab-content">
	<div id="mutations-view" class="tab-pane fade active in">
		<form name="geneform">
		<table class="table table-bordered table-condensed xls" style="background:#fff;" id="mutations">
			<thead><tr>
				<th class="filter-false"></th>
				<th class="filter-false" title="Investigate selected genes via external services (e.g. GeneMania).">
					<div class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Open</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:genemania_open()">GeneMania</a></li>
						</ul>
					</div>
				</th>
				<th>Gene</th>
				<th data-toggle="tooltip" title="[Common] Number of samples having at least one call in this gene.">C</th>
				<th>Sample</th>
				<th>HGVSP</th>
				<th>Exon</th>
				<th>Nucleotide</th>
				<th>Codon</th>
				<th>Consequence</th>
				<th>GT</th>
				<th data-toggle="tooltip" title="[Quality] Maximum phred-scaled call confidence.">Qual</th>
				{%- if query.bedfile_accession -%}<th data-toggle="tooltip" title="[BEDfile Name] Names from BEDfiles.">BN</th>{%- endif -%}
				{%- if query.bedfile_accession -%}<th data-toggle="tooltip" title="[BEDfile Score] Scores from BEDfiles.">BS</th>{%- endif -%}
				<th>Sift Score</th>
				<th>Polyphen Score</th>
				<th>EUR MAF</th>
				<th>AFR MAF</th>
				<th>AMR MAF</th>
				<th>ASN MAF</th>
				<th >Location</th>
				<th colspan="2" class="filter-false">Links</th>
			</tr></thead>
			<tbody>
		{% for row in rows %}
			<tr>
				<td style="font-size: small; width: 20px;">{{ loop.index }}</td>
				<td style="width: 40px;"><input type="checkbox" name="show_yesno" value="{{ row.gene.name }}"></td>
				<td><a href="http://www.ensembl.org/id/{{row.gene.accession}}" title="Show gene in ENSEMBL">{{ row.gene.name }}</a></td>
				<td>{{ common_genes[row.gene.name]|length }}</td>
				<td>{{ listout(row.samples) }}</td>
				<td>{{ row.hgvsp | hgvsp }}</td>
				<td>{%- if not row.ref_codon == None -%} {{ row.exon_number }} of {{ row.exon_count }}{%- endif -%}</td>
				<td>{{ shorten(row.ref) }} &rarr; {{ shorten(row.alt) }}</td>
				{%- if row.ref_codon == None or row.ref_codon|count == 0 %}
				<td></td>
				{%- else %}
				<td>{{ row.ref_codon }} &rarr; {{ row.alt_codon }}</td>
				{%- endif -%}
				<td>{{ row.consequence|consequence }}</td>
				<td>{%- if row.is_heterozygous|length == 2 %}both{% elif True in row.is_heterozygous %}Het{% else %}Hom{% endif %}</td>
				{#<td>{{ row.region|variant_region }}{% if -query.splice_dist <= row.splice_dist <= query.splice_dist %}, Splice{% endif %}</td>#}
				<td class="text-right">{{ '%0.0f' % row.maximum_quality|float }}</td>
				{%- if query.bedfile_accession -%}
				<td>
				{% for name in row.bednames %}
				{% if loop.index >= 2 and not loop.last-%}, {% endif %}
				{% if loop.index == 2 -%}
					<span class="inflate_area">
						<span class="inflatable" style="display: none">
					{%- elif not loop.first -%}, {% endif %}
						{{ name }}
					{%- if loop.index >= 2 and loop.last -%}
						</span>
						<a class="inflate">more</a>
						<a class="deflate" style="display: none">less</a>
					</span>
					{%- endif -%}
				{% endfor %}
				</td>
				{%- endif -%}
				{%- if query.bedfile_accession -%}
				<td>
				{% for score in row.bedscores %}
				{% if loop.index == 2 and not loop.last -%}
					, <span class="inflate_area">
						<span class="inflatable" style="display: none">
					{%- elif not loop.first -%}, {% endif %}
						{{ score }}
					{%- if loop.index > 2 and loop.last -%}
						</span>
						<a class="inflate">more</a>
						<a class="deflate" style="display: none">less</a>
					</span>
					{%- endif -%}
				{% endfor %}
				</td>
				{%- endif -%}
				<td>{{ row.sift_score | none_filter }}</td>
				<td>{{ row.polyphen_score | none_filter }}</td>
				<td>{{ row.eur_maf | round}}</td>
				<td>{{ row.afr_maf | round }}</td>
				<td>{{ row.amr_maf | round }}</td>
				<td>{{ row.asn_maf | round }}</td>
	
				<td class="text-right">
					<a href="{{ url_for('variants', pos=row.chrom ~ ':' ~ (row.pos + 1))}}">{{ row.chrom }}:{{ row.pos + 1 }}</a>
				</td>
				<td>
				{%- for bamfile in row.bams -%}
					{%- if not loop.first -%}, {% endif -%}
					{{ igv_link(bamfile.prefix, row.chrom, row.pos) }}
				{%- endfor -%}
				</td>
				<td>
					{{ ucsc_link(row.chrom,row.pos) }},
					{{ omim_link(row.gene.name) }},
					{{ genemania_single_link(row.gene.name) }},
					{{ thousandgenomes_link(row.chrom,row.pos) }}
				</td>
			</tr>
		{% endfor %}
			</tbody>
		</table>
		</form>
	</div>
	<div id="query-parameters-view" class="tab-pane fade">
		<ul>
		{% if query.all_genes %}
			<li>Genes: all</li>
		{% else %}
			<li>Genes:
			{% for name in query.gene_names %}
			{{name}}{% if not loop.last %}, {% endif %}
			{% endfor %}
			</li>
		{% endif %}
		{% if query.affected_sample_names|length > 0 %}
			<li>Samples: {{ query.affected_sample_names|join(", ") }}</li>
		{% endif %}
		{% if query.query_mode %}
			{% if query.query_mode|length > 0 %}
				<li>Recessive: {{ query.query_mode }}</li>
			{% endif %}
		{% endif %}
		{% if query.min_common_genes_count %}
			<li>Minimum common genes count: {{query.min_common_genes_count}}</li>
		{% endif %}
			<li>Quality threshold: {{query.affected_qual}}</li>
		{% if query.is_recessive %}
			<li>Recessive mutation: {{query.recessive}}</li>
		{% endif %}
		{% if query.filter_diseases|length > 0 %}
			<li>Diseases filtered:
			{% for disease in query.filter_diseases -%}
			{{ disease.name }}{% if not loop.last %}, {% endif -%}
			{%- endfor %}
			</li>
		{% endif %}
		{% if query.filter_samples|length > 0 %}
			<li>Samples filtered:
			{% for sample in query.filter_samples -%}
			{{ sample.accession }}{% if not loop.last %}, {% endif -%}
			{% endfor %}
			</li>
		{% endif %}
		{% if query.known_sources|length > 0 %}
			<li>Databases filtered:
			{% for known_source in query.known_sources -%}
			{{ known_source.name }}{% if not loop.last %}, {% endif -%}
			{% endfor %}
			</li>
		{% endif %}
			<li>Filter variants above quality: {{ query.unaffected_qual }}</li>
			<li>dbSNP clinical: {{ query.show_dbsnp_clinical|yesno }}</li>
			<li>dbSNP locus: {{ query.show_dbsnp_locus_specific|yesno }}</li>
			<li>dbSNP precious: {{ query.show_dbsnp_precious|yesno }}</li>
			<li>Max splice distance: {{ query.splice_dist }}</li>
			<li>Show coding variants: {{ query.show_coding_variants|yesno }}</li>
			<li>Show variants on UTR: {{ query.show_utr_variants|yesno }}</li>
			<li>Show intronic variants: {{ query.show_intron_variants|yesno }}</li>
			<li>Only show variants on transcripts with protein products: {{ query.show_protein_products_only|yesno }}</li>
		</ul>
	</div>
	<div id="additional-information-view" class="tab-pane fade">
		{% if not query.all_genes %}
		<h2>Genes</h2>
		<p><small>{{ genesused|length }} gene(s) found (which have {{ transcripts|length }} transcript(s)).</small></p>
		<p><small></small></p>

		{% if notfound|length > 0 %}
		<h3>{{ notfound|length }} genes were not found</h3>
			<table class="table table-bordered table-condensed table-striped sortable">
				<tbody>
				{% for gene in notfound %}
					<tr><td>{{ gene }}</td></tr>
				{% endfor %}
				</tbody>
			</table>
		{% endif %}
		<table class="table table-bordered table-condensed table-striped">

		<table class="table table-bordered table-condensed table-striped sortable">
			<thead>
				<tr>
					<th>Name</th>
					<th>Accession</th>
				</tr>
			</thead>
			<tbody>
				{% for gene in genesused %}
				<tr>
					<td>{{ gene.name }}</td>
					<td>{{ gene.accession }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}

		<p>{{ unaffected_samples|length }} samples were used for filtering.</p>
		{% if samples_unaffected_intersection_names|length > 0 %}
		<p>
		Following {{ samples_unaffected_intersection_names|length }} samples were not filtered, because they were selected as target samples.<br />
		{% for s in samples_unaffected_intersection_names %}{% if not loop.first %}, {% endif %}{{s}}{% endfor %}
		</p>
		{% endif %}

		<!-- <p><small>{{ genes|length }} genes found.</small></p> -->

		<p><small>HI Score = Haploinsufficiency Score
		(<a href="http://www.ncbi.nlm.nih.gov/projects/dbvar/ISCA/">ISCA Dosage Sensitivity Map</a>)</small></p>
		<p>Nucleotide changes are annotated in forward direction;
		codon and amino acid changes are annotated in actual transcript direction</p>
		<p>Synonymous variants are <em>not</em> shown, unless they are near a splice site.</p>

		<p>Transcripts that do not have a protein product are shown in parentheses.</p>

		<p>The &laquo;Splice&raquo; column indicates whether the variant is in the vicinity
		of an exon-intron border.</p>
	</div>
	<div id="mutation-stats-view" class="tab-pane fade">
		<div style="display: inline-block">
		<div id="mutation-count-hist"></div>
		<div id="mpkm-hist"></div>
		<table class="table table-bordered table-condensed sortable chart" data-chart-ids="mutation-count-hist, mpkm-hist" data-chart-mutation-count-hist-y="2" data-chart-mpkm-hist-y="3" data-chart-mutation-count-hist-label="Histogram of Mutation Counts" data-chart-mpkm-hist-label="Histogram of MPKM values">
			<thead>
				<tr>
					<th>Transcript</th>
					<th># Mutations</th>
					<th data-toggle="tooltip" title="Mutations per kilobase per million. This value describes how many mutations are found in the transcript, normalized to one kilobase and the total library size of all selected samples.">MPKM</th>
				<tr>
			</thead>
			<tbody>
				{%- for transcript, mutation_count, mpkm in mutation_stats -%}
				<tr>
					<td><a class="item" href="http://www.ensembl.org/id/{{transcript.accession}}" title="Show transcript in ENSEMBL">{{ transcript.name }}</a></td>
					<td>{{ mutation_count }}</td>
					<td>{{ '%0.2e' % mpkm | float }}</td>
				</tr>
				{%- endfor -%}
			</tbody>
		</table>
		</div>
	</div>
</div>
{% endblock %}
