{% extends "layout.html" %}
{% from "macros.html" import aux_filter %}
{% block title %}Mutations{% endblock %}
{% block head %}
	<script>
		function changeEnabled(checked) {
			document.getElementById("genes").disabled = checked;
		}

		$(document).ready(function(){
			$(".chzn-select").select2();
			$("#btnexonic").click(function() { $("#consequences").val([{% for i in exon_variants %}{% if not loop.first %}, {% endif %}"{{ i }}"{% endfor %}]).trigger("change"); });
			$("#btnall").click(function() { $("#consequences").val([{% for i in variant %}{% if not loop.first %}, {% endif %}"{{ i }}"{% endfor %}]).trigger("change"); });
			$("#btnnone").click(function() { $("#consequences").val([]).trigger("change"); });
		});
	</script>
{% endblock %}
{% block body %}

<form data-persist="garlic" data-destroy="false" method="post" action="{{ url_for('mutations') }}">
	<div class="query-column">

	<div class="well step" >
		<div class="query-step-description">
			<b>Step 1</b><br />
			<small>Select samples or group of samples to analyse</small>
		</div>

		<div class="query-step">
			<fieldset>
			<label>Find mutations in <b>these samples</b>:</label>

			<select select data-placeholder="Pick Samples" class="chzn-select" tabindex="4" autofocus="autofocus" data-role="chosen" id="samples" multiple name="samples">
			{% for sample in samples %}
				<option value="{{ sample.accession }}">{{ sample.accession }} ({{ sample.disease.name }})</option>
			{% endfor %}
			</select>

			<label>Also find mutations in these <b>sample groups</b>:</label>
			<select select data-placeholder="Pick Sample Groups" class="chzn-select" tabindex="4" autofocus="autofocus" data-role="chosen" id="sample_groups" multiple name="sample_groups">
			{% for group in sample_groups %}
				<option value="{{ group.id }}">{{ group.name }} ({{ group.samples|join(", ", attribute="accession") }})</option>
			{% endfor %}
			</select>

			<label>Also find mutations in samples with the following <b>conditions</b>:</label>
			<select select data-placeholder="Pick Conditions" class="chzn-select" tabindex="4" autofocus="autofocus" data-role="chosen" id="diseases" multiple name="diseases">
			{% for disease in diseases %}
				<option value="{{ disease.id }}"/>{{ disease.name }}</option>
			{% endfor %}
			</select>

			<div style="display: block;"><small><a href="{{ url_for('admin.index') }}samplegroup">Create a sample group</a>.</small></div>

	<!--	<textarea rows="4" cols="30" name="samples">MA153 MA162</textarea>
		<label>(Unsure which sample is which? See <a href="{{ url_for('samplelist') }}">the list of samples</a>).</label>-->
			</fieldset>
		</div>

		<div style="clear: both;"></div>
	</div>

	<div class="well step">
		<div class="query-step-description">
			<b>Step 2</b></br>
			<small>Select all genes you want to find SNPs in</small>
		</div>

		<div class="query-step">
			<fieldset>
			<label class="checkbox">
				<input type="checkbox" id="all_genes" name="all_genes" checked="true" value="all" onchange="changeEnabled(this.checked);"/> Search in <b>all available genes</b>
			</label>
			<strong>&mdash; or &mdash;</strong></center>
			<label>Find de-novo mutations within <b>these genes</b>:</label>
			<textarea rows="10" cols="30" name="genes" id="genes" disabled="true" >ARID1A
ARID1B
ARID2
SMARCA2
SMARCA4
SMARCB1
SMARCC1
SMARCC2
SMARCD1
			</textarea>
			</fieldset>
		</div>

		<div style="clear: both;"></div>
	</div>


	<div class="well step">
		<div class="query-step-description">
			<b>Step 3</b></br>
			<small>Select common-options</small>
		</div>

		<div class="query-step">
			<label>Display only variants with following common properties</label>
			<table class='maftable'>
				<tbody>
					<tr><th class="tright"><td>Samples per gene >=</td><td><input name="min_samples_per_gene" type="text" value="1" class="small"/></td></tr>
					<tr><th class="tright"><td>Samples per variant >= </td><td><input name="min_samples_per_variant" type="text" value="1" class="small"/></td></tr>
					<tr><th class="tright"><td>Variants per gene >= </td><td><input name="min_variants_per_gene" type="text" value="1" class="small"/></td></tr>
				</tbody>
			</table>
		</div>
	</div>


	<div class="well step">
		<div class="query-step-description">
			<b>Step 4</b></br>
			<small>Consequences</small>
		</div>

		<div class="query-step">
			<fieldset>
			<label>Show out variants with these <b>consequences</b>:</label>
			<select select data-placeholder="Choose consequence variants to show" class="chzn-select" autofocus="autofocus" data-role="chosen" id="consequences" multiple name="consequences">
				{% for v in variant %}
					<option value="{{ v }}" {% if v in exon_variants %} selected {% endif %}>{{ variant[v] }}</option>
				{% endfor %}
			</select>
			<div style="margin-top: 10px">
				<input type="button" id="btnexonic" value="exonic" />
				<input type="button" id="btnall"  value="all" />
				<input type="button" id="btnnone"  value="none" />
			</div>
			</fieldset>
		</div>

		<div style="clear: both;"></div>
	</div>


	<div class="well step">
		<div class="query-step-description">
			<b>Step 5</b></br>
			<small>Mapping scores filter</small>
		</div>

		<div class="query-step">
			<label>Display variants with <b>quality</b> >= <input name="affected_qual" type="text" value="50" class="small"/></label>
			<fieldset>
			<div style="max-width: 400px;">
			{{ aux_filter() }}
			</div>
			</fieldset>
		</div>

		<div style="clear: both;"></div>
	</div>

	<div class="well step">
		<div class="query-step-description">
			<b>Step 6</b></br>
			<small>Annotations</small>
		</div>

		<div class="query-step">
			<fieldset>
			<label>Display variants of the following <b>diploid type</b>:</label>
			<label class="checkbox"><input type="checkbox" id='heterozygous' name="heterozygous" checked="true"/>Heterozygous</label>
			<label class="checkbox"><input type="checkbox" id='homozygous' name="homozygous" checked="true"/>Homozygous</label>
			</fieldset>
			<br/>
			<fieldset>
			<label>Display variants all following <b>minor allele frequencies:</b></label>
			<table>
				<tr>
					<td><input name="min_eur_maf" class='small' type='text' value='0.0' /></td>
					<td><=</td>
					<td class='tcenter'>european (eur)</td>
					<td><=</td>
					<td><input name="max_eur_maf" class='small' type='text' value='1.0' /></td>
				</tr>
				<tr>
					<td><input name="min_amr_maf" class='small' type='text' value='0.0' /></td>
					<td><=</td>
					<td class='tcenter'>american (amr)</td>
					<td><=</td>
					<td><input name="max_amr_maf" class='small' type='text' value='1.0' />
					</td>
				</tr>
				<tr>
					<td><input name="min_afr_maf" class='small' type='text' value='0.0' /></td>
					<td><=</td>
					<td class='tcenter'>african (afr)</td>
					<td><=</td>
					<td><input name="max_afr_maf" class='small' type='text' value='1.0' /></td>
				</tr>
				<tr>
					<td><input name="min_asn_maf" class='small' type='text' value='0.0' /></td>
					<td><=</td>
					<td class='tcenter'>asian (asn)</td>
					<td><=</td>
					<td><input name="max_asn_maf" class='small' type='text' value='1.0' /></td>
				</tr>
			</table>
			</fieldset>
		</div>

		<div style="clear: both;"></div>
	</div>


	<div class="well step">
		<div class="query-step-description">
			<b>Step 7</b></br>
			<small>Select filtering samples</small>
		</div>

		<div class="query-step">
			<fieldset>
			<label>Filter out samples associated with following <b>conditions</b>:</label>
			<select data-placeholder="Choose Filter Samples by Condition" class="chzn-select" name="filter_diseases" autofocus="autofocus" data-role="chosen" multiple>
			{% for disease in diseases %}
				<option value="{{ disease.id }}"
				{% if disease.short_name == "healthy" %}selected{% endif %}/>{{ disease.name }}</option>
			{% endfor %}
			</select>
			</fieldset>

			<fieldset>
			<label>Filter out variants found in <b>selected samples</b>:</label>
			<select select data-placeholder="Choose Filter Samples" class="chzn-select" tabindex="4" autofocus="autofocus" data-role="chosen" id="filter_samples" multiple name="filter_samples">
			{% for sample in samples %}
				<option value="{{ sample.id }}">{{ sample.accession }}</option>
			{% endfor %}
			</select>
			</fieldset>

			<fieldset>
			<label>Filter out variants found in these <b>sample groups</b>:</label>
			<select select data-placeholder="Pick Filter Sample Groups" class="chzn-select" tabindex="4" autofocus="autofocus" data-role="chosen" id="filter_sample_groups" multiple name="filter_sample_groups">
			{% for group in sample_groups %}
				<option value="{{ group.id }}">{{ group.name }} ({{ group.samples|join(", ", attribute="accession") }})</option>
			{% endfor %}
			</select>
			<div style="display: block;"><small><a href="{{ url_for('admin.index') }}samplegroup">Create a sample group</a>.</small></div>
			</fieldset>
			
			<fieldset>
			<label class="checkbox" title="If checked, only existence of the allele is considered for filtering, not the whole genotype.">
				<input type="checkbox" id='ignore_heterozygous' name="ignore_heterozygous" checked="true"/>ignore heterozygosity status</label>
			</fieldset>
		</div>

		<div style="clear: both;"></div>
	</div>

	<div class="well step">
		<div class="query-step-description">
			<b>Step 8</b></br>
			<small>Select sample filtering options</small>
		</div>

		<div class="query-step">
			<fieldset>
			<label><b>Filter</b> only variants above this <b>quality</b>:</label>
			<input name="unaffected_qual" type="text" value="0"/>
			</fieldset>
		</div>

		<div style="clear: both;"></div>
	</div>

	<div class="well step">
		<div class="query-step-description">
			<b>Step 9</b></br>
			<small>Select additional filters</small>
		</div>

		<div class="query-step">
			<fieldset>
			<label><b>Filter</b> out variants found in <b>databases</b>:</label>
			<select select data-placeholder="Choose external variants to filter" class="chzn-select" autofocus="autofocus" data-role="chosen" id="filter_known" multiple name="filter_known">
			{% for known_source in known_sources %}
				<option value="{{ known_source.id }}" selected>{{ known_source.name }}</option>
			{% endfor %}
			</select>
			</fieldset>

			</br>

			<fieldset>
			<label>Display variants in dbSNP with the following tags:</label>
			<label class="checkbox">
				<input type="checkbox" id='clinical' name="clinical" checked="true"/>clinical</label>
			<label class="checkbox">
				<input type="checkbox" id='precious' name="precious" checked="true"/>precious</label>
			<label class="checkbox">
				<input type="checkbox" id='locus-specific-db' name="locus-specific-db" checked="true"/>locus-specific database</label><br>
			</fieldset>
		</div>

		<div style="clear: both;"></div>
	</div>
	<div class="well step">
		<div class="query-step-description">
			<b>Step 10</b></br>
			<small>Select bed files</small>
		</div>

		<div class="query-step">
			<fieldset>
			<label><b>Add</b> annotation from <b>BED file</b>:</label>
			<select select data-placeholder="Select Additional BED file" class="chzn-select" style="width: 350px;" autofocus="autofocus" data-role="chosen" id="bedfiles" name="bedfiles">
			<option></option>>
			{% for bedfile in bedfiles %}
				<option value="{{ bedfile }}">{{ bedfile }}</option>
			{% endfor %}
			</select>
			</fieldset>

			</br>
		</div>

		<div style="clear: both;"></div>
	</div>
	</div>

	<p><em>Please be patient, the query will take a few seconds to complete.</em></p>

	<button type="submit" class="btn">Submit</button>
</form>

{% endblock %}
