{% extends "layout.html" %}
{% block title %}Persons{% endblock %}
{% block caption %} <h1>Overview of all persons</h1> {% endblock %}

{% block body %}
{% import 'modules/columnhide.html' as columnhide %}
	{% set colnames = ("Accession", "Samples", "Diseases", "Gender", "Mother", "Father", "Comment") %}
	{{ columnhide.hidebuttons('tablepersons', colnames) }}

	<p>Showing {{ persons|length }} persons.</p>
	<a class="filterswitch" ref="persons">Filter</a>
	<table name="persons" class="table table-bordered table-condensed  table-striped sortablefilter">
		<thead>
		<tr>
			{% for col in colnames %}
			<th> {{ col }} </th>
			{% endfor %}
		</tr>
		</thead>
		<tbody>
		{% for person in persons %}
		<tr>
			<td>{{ person.accession }}</td>
			<td><a href="{{ url_for('samplelist', person=person.accession) }}">
			{{ person.samples|join(", ", attribute='accession') }}
			</a></td>
			<td>{{ person.samples|join(", ", attribute='disease.name') }}</td>
			<td>{{ person.gender|gender }}</td>
			<td>{{ person.mother.accession }}</td>
			<td>{{ person.father.accession }}</td>
			<td>{{ person.comment|none_filter }} </td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}

