{% extends "layout.html" %}
{% from "macros.html" import aux_filter %}
{% block title %}Purity Estimation{% endblock %}
{% block body %}

Purity estimation as defined by <a href="http://bioinformatics.oxfordjournals.org/content/28/17/2265.long">Su, X. et al, 2012. Bioinformatics 28, 2265–2266</a>.

<table class="table table-bordered table-condensed table-striped sortable">
	<thead>
		<tr>
			<th>Sample</th>
			<th>Healthy Sample</th>
			<th>Purity</th>
			<th>Standard Deviation</th>
			<th>#Outliers</th>
		</tr>
	</thead>
	<tbody>
		{% for row in rows %}
			<tr>
				<td>{{ row.sample }}</td>
				<td>{{ row.healthy_sample }}</td>
				{% if row.purity is defined %}
					<td>{{ (row.purity|round(4)) }}</td>
					<td>{{ row.std|round(4) }}</td>
				{% else %}
					<td colspan=2>not enough data</td>
				{% endif %}
				<td>{{ row.outlier_count }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<!--
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#additionalInformation">
        Additional Information
      </a>
    </div>
    <div id="additionalInformation" class="accordion-body collapse">
      <div class="accordion-inner">
<div class="span12">
<table class="table table-bordered table-condensed table-striped sortable">
	<thead>
		<tr>
			<th>Sample_M</th>
			<th>Chrom</th>
			<th>Alt_M</th>
			<th>Ref_M</th>
			<th>Delta_M</th>
			<th>Sample_H</th>
			<th>Alt_H</th>
			<th>Ref_H</th>
			<th>Delta_H</th>
			<th>Purity</th>
		</tr>
	</thead>
	<tbody>
		{% for sample_m, chrom, alt_m, ref_m, sample_h, alt_h, ref_h, delta_m, delta_h, purity in res%}
			<tr>
				<td>{{ sample_m.accession }}</td>
				<td>{{ chrom }}</td>
				<td>{{ alt_m }}</td>
				<td>{{ ref_m }}</td>
				<td>{{ delta_m }}</td>
				<td>{{ sample_h.accession }}</td>
				<td>{{ alt_h }}</td>
				<td>{{ ref_h }}</td>
				<td>{{ delta_h }}</td>
				<td>{{ purity }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
</div>
      </div>
    </div>
  </div>
</div>
-->
{% endblock %}
