{% extends "layout.html" %}
{% from "macros.html" import shorten, igv_link, ucsc_link, genemania_single_link, omim_link with context %}
{% macro listout(list) %}
	{%- for l in list|sort -%}
		{%- if not loop.first %}, {% endif -%}
		{{ l }}
	{%- endfor -%}
{%- endmacro %}
{% block title %}Query for recessive genes ({{ query_mode }}){% endblock %}
{% block body %}

<table class="table table-bordered table-condensed table-striped sortable">
	<thead><tr>
		<th></th>
		<th>Gene</th>
		<th>Sample</th>
		<th>Transcripts</th>
		<th>Nucleotide</th>
		<th>Codon</th>
		<th>Amino acid</th>
		<th>Type</th>
		<th>Genotype</th>
		<th>Region</th>
		<th>Location</th>
		<th>Quality</th>
		<th>Strand Bias</th>
		<th colspan='4'>Links</th>
		<th>GeneMania<br>(selected)</th>
	</tr></thead>
	<tbody>
{% for record in records %}
{% set ann = record.annotation %}
	<tr>
		<td style="font-size: small">{{ loop.index }}</td>
		<td><a href="http://www.ensembl.org/id/{{ann.transcript.gene.accession}}" title="Show gene in ENSEMBL">{{ ann.transcript.gene.name}}</a></td>
		<td>{{ listout(record.sample) }}</td>
		<td>{{ ann.transcript.name }}</td>
		<td>{{ shorten(ann.variant.ref) }} &rarr; {{ shorten(ann.variant.alt) }}</td>
		{%- if ann.ref_codon|count == 0 %}
		<td></td>
		<td></td>
		{%- else %}
		<td>
			{%- for i in range(3) -%}
				{%- if ann.ref_codon[i] == ann.alt_codon[i] -%}
					{{ ann.ref_codon[i] }}
				{%- else -%}
					<u>{{ ann.ref_codon[i] }}</u>
				{%- endif -%}
			{%- endfor -%}
			&rarr; {{ ann.alt_codon }}
		</td>
		<td>{{ ann.ref_acid }} &rarr; {{ ann.alt_acid }}</td>
		{%- endif -%}
		<td>{{ ann.type|variant_type }}</td>
		<td>{%- if record.is_heterozygous|length == 2 %}both{% elif True in record.is_heterozygous %}het{% else %}hom{% endif %}</td>
		<td>{{ ann.region|variant_region }}</td>
		<td>{{ ann.variant.chrom }}:{{ ann.variant.pos + 1 }}</td>
		<td>{{ listout(record.quality) }}</td>
		<td>
		{%- for s in record.strand_bias|sort -%}
			{%- if not loop.first -%}, {% endif -%}
			{{ '%.1f' % s }}
		{%- endfor -%}
		</td>
		<td>
		{%- for bamfile in record.bam -%}
			{%- if not loop.first -%}, {% endif -%}
			{{ igv_link(bamfile.prefix, ann.variant.chrom, ann.variant.pos) }}
		{%- endfor -%}
		</td>
		<td>{{ ucsc_link(ann.variant.chrom, ann.variant.pos) }}</td>
		<td>{{ omim_link(record.gene.name) }}</td>
		<td>{{ genemania_single_link(record.gene.name) }}</td>
		<td><input type="checkbox" name="show_yesno" value="{{ record.gene.name }}" checked="checked"></td>
	</tr>
{% endfor %}
	<tr>
		<td colspan=17></td>
		<td><a href="javascript:genemania_open()">show</a></td>
	</tr>
	</tbody>
</table>
</form>
{% endblock %}
