{% extends "layout.html" %}
{% block title %}Recessive mutations{% endblock %}
{% block head %}
	<script src="static/chosen-master/chosen/chosen.jquery.js" type="text/javascript"></script>
	<script>
		$(document).ready(function(){
			$(".chzn-select").select2();
			$("#btnexonic").click(function() { $("#consequences").val([{% for i in exon_variants %}{% if not loop.first %}, {% endif %}"{{ i }}"{% endfor %}]).trigger("change"); });
			$("#btnall").click(function() { $("#consequences").val([{% for i in variant %}{% if not loop.first %}, {% endif %}"{{ i }}"{% endfor %}]).trigger("change"); });
			$("#btnnone").click(function() { $("#consequences").val([]).trigger("change"); });
		});
	</script>
{% endblock %}
{% block body %}

<form data-persist="garlic" data-destroy="false" method="post" action="{{ url_for('recessive') }}">
	<div class="query-column">

	<div class="well step">
		<div class="query-step-description">
			<b>Step 1</b></br>
			<small>Select sample and ancestors to analyse</small>
		</div>

		<div class="query-step">
			<fieldset>
			<label>Find recessive mutations in this <b>sample</b>:</label>
				<select select data-placeholder="Pick Samples" class="chzn-select" tabindex="4" autofocus="autofocus" data-role="chosen" id="samples" name="samples">
				{% for sample in samples %}
				<option value="{{ sample.accession }}">{{ sample.accession }} ({{ sample.disease.name }})</option>
				{% endfor %}
				</select>
				<br />
				compared to these <b>ancestors</b>:
				<br/>
				<select select data-placeholder="Pick Acestor 1" class="chzn-select" tabindex="4" autofocus="autofocus" data-role="chosen" id="ancestor1" name="ancestor1">
				<option value="father">father</option>
				{% for sample in samples %}
				<option value="{{ sample.accession }}">{{ sample.accession }} ({{ sample.disease.name }})</option>
				{% endfor %}
				</select>
				<br />
				<select select data-placeholder="Pick Acestor 2" class="chzn-select" tabindex="4" autofocus="autofocus" data-role="chosen" id="ancestor2" name="ancestor2">
				<option value="mother">mother</option>
				{% for sample in samples %}
				<option value="{{ sample.accession }}">{{ sample.accession }} ({{ sample.disease.name }})</option>
				{% endfor %}
				</select>
			</fieldset>
		</div>

		<div style="clear: both;"></div>
	</div>


	<div class="well step">
		<div class="query-step-description">
			<b>Step 2</b></br>
			<small>Select type of analysis</small>
		</div>

		<div class="query-step">
			<fieldset>
			<label>Search <b>homozygous or compound-heterozygous</b> mutations:</label>
				<select select class="chzn-select" autofocus="autofocus" data-role="chosen" id="hom_or_het" name="hom_or_het">
				<option value="homozygous" selected>homozygous</option>
				<option value="compound-heterozygous">compound-heterozygous</option>
			</select>
			</fieldset>
		</div>

		<div style="clear: both;"></div>
	</div>

	<div class="well step">
		<div class="query-step-description">
			<b>Step 4</b></br>
			<small>Consequences</small>
		</div>

		<div class="query-step">
			<fieldset>
			<label>Show out variants with these <b>consequences</b>:</label>
			<select select data-placeholder="Choose consequence variants to show" class="chzn-select" autofocus="autofocus" data-role="chosen" id="consequences" multiple name="consequences">
				{% for v in variant %}
					<option value="{{ v }}" {% if v in exon_variants %} selected {% endif %}>{{ variant[v] }}</option>
				{% endfor %}
			</select>
			<div style="margin-top: 10px">
				<input type="button" id="btnexonic" value="exonic" />
				<input type="button" id="btnall"  value="all" />
				<input type="button" id="btnnone"  value="none" />
			</div>
			</fieldset>
		</div>

		<div style="clear: both;"></div>
	</div>

	<div class="well step">
		<div class="query-step-description">
			<b>Step 3</b></br>
			<small>Select filter options</small>
		</div>

		<div class="query-step">
			<fieldset>
			<label>Display only variants above this <b>quality threshold</b>:</label><input name="affected_qual" type="text" value="50"/><br/>
			</fieldset>
		</div>

		<div style="clear: both;"></div>
	</div>

	<div class="well step">
		<div class="query-step-description">
			<b>Step 4</b></br>
			<small>Select allele frequencies</br>(Variants with missing allele frequency information are kept by default)</small>
		</div>

		<div class="query-step">
			<fieldset>
			<label>Take allele frequencies from the following databases:</label>
			<select select data-placeholder="Choose external variants to filter" class="chzn-select" autofocus="autofocus" data-role="chosen" id="filter_known" multiple name="filter_known">
			{% for known_source in known_sources %}
				<option value="{{ known_source.id }}" selected>{{ known_source.name }}</option>
			{% endfor %}
			</select>
			</fieldset>

			<label>Display variants with an allele frequency equal to or lower than:</label><input name="allelefreq" type="text" value="0.01"/>
		</div>

		<div style="clear: both;"></div>
	</div>

	</div>

	<p><em>Please be patient, the query will take a few seconds to complete.</em></p>

	<button type="submit" class="btn">Submit</button>
</form>
{% endblock %}
