{% extends "layout.html" %}
{% block title %}Runs{% endblock %}
{% block caption %} <h1>Overview of all runs</h1> {% endblock %}
{% block body %}
{% import 'modules/columnhide.html' as columnhide %}

	{% set colnames = ("Date", "Machine", "Run number", "Flowcell", "Bases [Giga]", "Comment") %}

	{{ columnhide.hidebuttons('tableruns', colnames) }}

	<p>Showing {{ runs|length }} runs.</p>
	<table class="table table-bordered table-condensed table-striped sortable">
		<thead>
			{% for col in colnames %}
			<th> {{ col }} </th>
			{% endfor %}
		</thead>
		<tbody>
		{% for run in runs %}
		<tr>
			<td><a href="{{ url_for('stats', run=run.id) }}">{{ run.date }}</a></td>
			<td>{{ run.machine|none_filter }}</td>
			<td>{{ run.run_number|none_filter }}</td>
			<td>{{ run.flowcell|none_filter }}</td>
			<td style="text-align: right;">{{ run.bases|giga }}</td>
			<td>{{ run.comment|none_filter }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}

