{% extends "layout.html" %}
{% from "macros.html" import aux_filter %}
{% block title %}Sample overlaps{% endblock %}
{% block body %}

<h3>Calls per patient</h3>
<div style="display: inline-block;">

<div class="chart" id="sample-overlaps">
<svg>
</svg>
</div>
<script>
function getOverlaps() {
	var common = [];
	var excl1 = [];
	var excl2 = [];
	var samples = {};
	var i = 0;
	$("table.sample-overlaps").each(function() {
		$(this).find(".common").each(function(j) {
			common.push({x:i+j, y:parseInt($(this).text())});
		});
		$(this).find(".excl1").each(function(j) {
			excl1.push({x:i+j, y:parseInt($(this).text())});
		});
		$(this).find(".excl2").each(function(j) {
			excl2.push({x:i+j, y:parseInt($(this).text())});
		});
		$(this).find(".samples").each(function(j) {
			samples[i+j] = $(this).text();
		});
		i = common.length + 2;
	});
	return {
		samples: samples,
		data: [
			{
				key: "exclusive in first",
				values: excl1
			},
			{
				key: "common",
				values: common
			},
			{
				key: "exclusive in second",
				values: excl2
			}
		]
	};
}


$(function () {
	nv.addGraph(function() {
		var overlaps = getOverlaps();
		var chart = nv.models.multiBarChart().stacked(true);

		chart.xAxis
		.tickFormat(d3.format('d'));

		chart.yAxis
		.tickFormat(d3.format('d'));

		chart.tooltip(function(key, x, y, e, graph) {
		return "<h3>" + overlaps.samples[parseInt(x)] + "</h3><center>"
			+ key + "</center>";
		});

		d3.select('#sample-overlaps svg')
		.datum(overlaps.data)
		.transition().duration(500).call(chart);

		return chart;
	});
});

</script>

{% for patient in patients %}
<table class="sample-overlaps table table-bordered table-condensed table-striped sortable" style="width: 100%;">
	<thead>
		<tr>
			<th colspan=7>Person <span style="font-weight: normal;"><a href="{{ url_for('samplelist', person=patient.accession) }}">{{patient.accession}}</a></span></th>
		</tr>
		<tr>
			<th>Samples</th>
			<th colspan=2 data-toggle="tooltip" title="Counts that are in both samples and their fraction in the union (Jaccard Index).">Common calls</th>
			<th colspan=4 data-toggle="tooltip" title="Exclusive counts in samples and their fraction in the union.">Exclusive calls</th>
		</tr>
	</thead>
	<tbody>
		{% for sample1, sample2, common, common_ratio, excl1, excl1_ratio, excl2, excl2_ratio in stats(patient) %}
		<tr>
			<td class="samples">{{sample1}} vs {{sample2}}</td>
			<td style="text-align: right" class="common">{{common}}</td>
			<td style="text-align: right">{{common_ratio | percentage}}</td>
			<td style="text-align: right" class="excl1">{{excl1}}</td>
			<td style="text-align: right">{{excl1_ratio | percentage}}</td>
			<td style="text-align: right" class="excl2">{{excl2}}</td>
			<td style="text-align: right">{{excl2_ratio | percentage}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endfor %}
</div>

{% endblock %}
