{% extends "layout.html" %}
{% from "macros.html" import aux_filter %}
{% block title %}Sample overlap {{sample1}} and {{sample2}} and {{sample3}} {% endblock %}
{% block body %}
<script src="{{url_for('static', filename='venn.js') }}"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>



<div class="venn" style="float:left"> </div>

<script>
// define sets and set set intersections
{% if samples|length == 3 %}
var sets = [{label: "{{samples[0].accession}}", size: {{callcounts[samples[0].accession]}} },
            {label: "{{samples[1].accession}}", size: {{callcounts[samples[1].accession]}} },
            {label: "{{samples[2].accession}}", size: {{callcounts[samples[2].accession]}} }],
    overlaps = [{sets: [0,1], size: {{common(samples[0],samples[1])}} },
                {sets: [1,2], size: {{common(samples[1],samples[2])}} },
                {sets: [0,2], size: {{common(samples[0],samples[2])}} },
                {sets: [0,1,2], size: {{common(samples[0],samples[1],samples[2])}} }];
{% else %}

var sets = [{label: "{{samples[0].accession}}", size: {{excl(samples[0]) + common(samples[0],samples[1])}} }, {label: "{{samples[1].accession}}", size: {{excl(samples[1]) + common(samples[0],samples[1])}} }],
    overlaps = [{sets: [0,1], size: {{common(samples[0],samples[1])}} }];

{% endif %}

// get positions for each set
sets = venn.venn(sets, overlaps);

// draw the diagram in the 'simple_example' div
var diagram = venn.drawD3Diagram(d3.select(".venn"), sets, 300, 300);

// add the tooltip to the diagram
var tip = d3.tip().attr("class", "d3-tip").html(
    function (d,i) { return "Size=" + d['size'];});

diagram.svg.call(tip);
diagram.text.style('cursor', 'default')
    .on('mouseover', tip.show)
    .on('mouseout', tip.hide);
</script>

<div style="display: inline-block; margin-left: 30px;">
<table class="sample-overlaps table table-bordered table-condensed table-striped" style="width: 100%;">
	<thead>
	<tr>
		<th>Samples</th>
		<th>Calls</th>
		<th colspan="2">Exclusive Calls</th>
	</tr>
	</thead>
	<tbody>
		{% for s in samples %}
		<tr><td>{{s.accession}}</td><td>{{callcounts[s.accession]}}</td><td>{{excl(s)}}</td><td>{{(excl(s) / union) | percentage}}</td></tr>
		{% endfor %}
	</tbody>
</table>

<table class="sample-overlaps table table-bordered table-condensed table-striped" style="width: 100%;">
	<tr>
		<th>Samples</th>
		<th colspan="2">Common Calls</th>
		{% for x,y in combinations(samples, 2) %}
			<tr><td>{{x.accession}} vs {{y.accession}}</td><td>{{common(x, y)}}</td><td>{{(common(x, y) / union) | percentage}}</td></tr>
		{% endfor %}
		{% if samples|length == 3 %}
			<tr><td>{% for s in samples %} {{s.accession}} {% if not loop.last %} vs {% endif %} {% endfor %}</td><td>{{common(samples[0], samples[1], samples[2])}}</td><td>{{(common(samples[0], samples[1], samples[2]) / union) | percentage}}</td></tr>
		{% endif %}
	<tbody>

	</tbody>
</table>
</div>

{% endblock %}
