{% extends "layout.html" %}
{% from "macros.html" import aux_filter %}
{% block title %}Sample overlaps{% endblock %}
{% block body %}

<script src="static/chosen-master/chosen/chosen.jquery.js" type="text/javascript"></script>
<script>
	$(document).ready(function(){
		$(".chzn-select").chosen();
		$(".chzn-select-deselect").chosen({allow_single_deselect:true});
	});
</script>

<form method="post" action="{{ url_for('sample_overlap') }}" class="well" style="width: 400px;">
	<label>Pick 2-3 Samples for comparison. <br> Leave blank to proceed all Patients.</label>
	<select select data-placeholder="Pick Samples" class="chzn-select" tabindex="4" autofocus="autofocus" data-role="chosen" id="samples" multiple name="samples">
		{% for sample in samples %}
			<option value="{{ sample.id }}">{{ sample.accession }} ({{ sample.disease.name }})</option>
		{% endfor %}
	</select>
	<label>Minimum quality:</label>
	<input class="span5" name="quality" type="number" value="{{ quality }}" style="width: auto"/><br/>
	
	<label><em>Please be patient, the query will take a few minutes to complete.</em></label>
	<button type="submit" class="btn">Submit</button>
</form>

{% endblock %}
