{% extends "layout.html" %}
{% block title %}Sample {{ sample.accession }}{% endblock %}
{% block body %}

<form method="get" action="{{ url_for('sample', accession=sample.accession) }}" class="well" style="display: inline-block;">
        <label>Minimum quality:</label>
        <input class="span5" name="quality" type="number" value="{{ quality }}"/><br/>
        <button type="submit" class="btn">Update</button>
</form>

<h3>Info</h3>
<p>Patient: {{ sample.patient.accession }}</p>
<p>Mother: {{ sample.patient.mother }}</p>
<p>Father: {{ sample.patient.father }}</p>
<p>Units: {{ sample.units|join(", ", attribute="prefix") }}</p>
<p>Disease: {{ sample.disease.name }}</p>
<h3>dbSNP re-discovery rate</h3>
<p>Using this source: {{ source.name }}</p>
<p>Total number of calls: {{ total_count }}</p>
<p>Calls also in source: {{ dbsnp_count }}</p>
<p>Rate: <strong>{{ "%.1f%%" % (100.0 * dbsnp_count / total_count) }}</strong></p>

<h3>Homozygous/heterozygous call rates</h3>

<p>The <em>ratio</em> is the number of heterozygous calls divided by the
number of all calls.</p>
<table class="table table-bordered table-condensed table-striped sortable">
	<thead>
		<tr>
			<th>Chromosome</th>
			<th>Homozygous calls</th>
			<th>Heterozygous calls</th>
			<th>Ratio</th>
		</tr>
	</thead>
	<tbody>
		{% for row in hom_het %}
		{% if not row.chrom.startswith("GL") %}
		<tr>
			<td>{{ row.chrom }}</td>
			<td>{{ row.count_hom }}</td>
			<td>{{ row.count_het }}</td>
			<td style="text-align:right">{{ "%.1f" % (100.0 * row.count_het / (row.count_hom + row.count_het)) }}%</td>
		</tr>
		{% endif %}
		{% endfor %}

</table>

{% endblock %}
