{% extends "layout.html" %}
{% block title %}Samples{% endblock %}
{% block body %}
{% import 'modules/columnhide.html' as columnhide %}


	{% set colnames = ("Accession", "Units", "Tissue", "Condition", "Gender", "Mother", "Father", "Comment") %}

	{% if is_single %}
		<h3>Samples of Person {{ samples[0].patient.accession }}</h3><br />
	{% endif %}

	{{ columnhide.hidebuttons('tablesamples', colnames) }}

	<p>Showing {{ samples|length }} samples.</em></p>
	<table class="table table-bordered table-condensed table-striped sortable">
		<thead>
		<tr>
			{% for col in colnames %}
			<th> {{ col }} </th>
			{% endfor %}
		</tr>
		</thead>
		<tbody>
		{% for sample in samples %}
		<tr>
			<td><a href="{{ url_for('sample', accession=sample.accession) }}">{{ sample.accession }}</a></td>
			<td>{{ sample.units|join(", ", attribute="prefix") }}</td>
			<td>{{ sample.tissue }}</td>
			<td>{{ sample.disease.name }}</td>
			<td>{{ sample.patient.gender|none_filter }}</td>
			<td>
			{% for sample2 in samples %}
				{% if sample2.patient.id == sample.patient.mother.id %}
					<a href="{{ url_for('sample', accession=sample2.accession) }}">{{ sample2.accession|none_filter }}</a>
				{% endif %}
			{% endfor %}
			</td>
			<td>
			{% for sample2 in samples %}
				{% if sample2.patient.id == sample.patient.father.id %}
					<a href="{{ url_for('sample', accession=sample2.accession) }}">{{ sample2.accession|none_filter }}</a>
				{% endif %}
			{% endfor %}
			</td>
			<td>{{ sample.patient.comment|none_filter }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
