{% extends "layout.html" %}
{% block title %}Search{% endblock %}
{% block body %}
<div class="search">
	<form action="{{ url_for('persons') }}">
	<div class="searchoption">
		<span class="searchdesc">Accession:</span>
		<span><input type="text" name="accession" /></span>
	</div>

	<div class="searchoption">
		<span class="searchdesc">Gender:</span>
		<span>
			<select name="gender" size="1">
				<option></option>
				<option>m</option>
				<option>f</option>
			</select>
		</span>
	</div>

	<div class="searchoption">
		<span class="searchdesc">Condition:</span>
		<span>
			<select name="condition" size="1">
				<option value=""></option>
				<option value="am">Uveal Melanoma</option>
				<option value="cs">Coffin Siris</option>
				<option value="sg">Schinzel-Giedion</option>
			</select>
		</span>
	</div>

	<div>
		<span class="searchdesc">Phenoscore:</span>
		<span><input type="text" class="number" name="minphenoscore"/></span> to <span><input type="text" class="number" name="maxphenoscore"/></span>
	</div>

	<div class="searchbuttons">
		<input type="submit" value="search" /><input type="reset" value="reset" />
	</div>
	</form>
</div>
{% endblock %}