{% extends "layout.html" %}
{% block title %}Statistics{% endblock %}
{% block body %}
{% import 'modules/columnhide.html' as columnhide %}
{% from "macros.html" import igv_link with context %}

	{% set colnames = ("", "Unit", "Sample") %}
	{% if not is_single_run %}
	{% set colnames = colnames + ("Date",) %}
	{% endif %}
	{% set colnames = colnames + ("Lane", "Bases [Giga]", "Read&nbsp;length [bp]", "Reads [Mega]", "Mapped [%]", "Duplicates [%]",
		"On&nbsp;target [Giga-bp]", "Cov. &ge; 1 [%]", "Cov. &ge; 5 [%]", "Cov. &ge; 10 [%]", "Cov. &ge; 20 [%]", "Links") %}

<div class="accordion" id="accordion1">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#statsfilter">
         Filter
      </a>
    </div>
    <div id="statsfilter" class="accordion-body collapse {% if filtered%} in {% endif %}">
      <div class="accordion-inner">
	<form method=get action="{{ url_for('stats') }}">
	<label>Run: </label>
	<select data-placeholder="Pick Run" class="chzn-select" autofocus="autofocus" data-role="chosen" id="run" name="run">
		<option value = ""> All</option>
	{% for run in runs %}
		<option {% if run.id == optrun|int %} selected {% endif %} value="{{ run.id }}">{{ run }}</option>
	{% endfor %}
	</select>
	<label>Disease: </label>
	<select data-placeholder="Pick Run" class="chzn-select" autofocus="autofocus" data-role="chosen" id="disease" name="disease">
		<option value = ""> All</option>
	{% for disease in diseases %}
		<option {% if disease.id == optdisease|int %} selected {% endif %} value="{{ disease.id }}">{{ disease }}</option>
	{% endfor %}
	</select>
	<label>Samplegroup: </label>
	<select data-placeholder="Pick SampleGroup" class="chzn-select" autofocus="autofocus" data-role="chosen" id="samplegroup" name="samplegroup">
		<option value = ""> All</option>
	{% for samplegroup in samplegroups %}
		<option {% if samplegroup.id == optsamplegroup|int %} selected {% endif %} value="{{ samplegroup.id }}">{{ samplegroup.name }}</option>
	{% endfor %}
	</select>
	<br>
	<button type="submit" class="btn">Submit</button>
	</endform>
      </div>
    </div>
  </div>
</div>

	{% if is_single_run %}
		{% if stats %}
			{% set run = stats[0].unit.run %}
			<h2>details for run</h2>
			<table class="table table-bordered table-condensed table-striped sortable">
				<tbody>
					<tr><td>Machine</td><td>{{ run.machine }}</td></tr>
					<tr><td>Date</td><td>{{ run.date }}</td></tr>
					<tr><td>Seqrun</td><td>{{ run.seqrun }}</td></tr>
					<tr><td>Flowcell</td><td>{{ run.flowcell }}</td></tr>
				<tbody>
			</table>
		{% endif %}
	{% endif %}

	{{ columnhide.hidebuttons('tablestats', colnames) }}

	<p>The check mark in the first column indicates whether a dataset has been imported.</p>
	<p>Showing {{ stats|length }} units.</p>
	<table class="table table-bordered table-condensed table-striped sortable" id="tablestats">
		<thead>
		<tr>
			{% autoescape false %}
			{% for col in colnames %}
			<th> {{ col|entity_break }} </th>
			{% endfor %}
			{% endautoescape %}
		</tr>
		</thead>
		<tbody>

		{% for stat in stats %}
		<tr>
			<td>{% if stat.imported %}&#x2713;{% endif %}</td>
			<td class="rowhead"><a href="{{ url_for('unit', prefix=stat.unit.prefix) }}">{{ stat.unit.prefix }}</a></td>
			<td>{{ stat.unit.library.sample.accession }}</td>
			{% if not is_single_run %}<td>{{ stat.unit.run.date}}</td>{% endif %}
			<td>{{ stat.unit.lane|none_filter }}</td>
			<td>{{ stat.bases|giga }}</td>
			<td>{{ "2" if stat.paired else "1" }} &times; {{ stat.readlength }}</td>
			<td>{{ stat.readcount|mega }}</td>
			<td>{{ stat.mapped|percentage(stat.readcount) if stat.readcount else ''}}</td>
			<td>{{ stat.duplicates|percentage(stat.readcount) if stat.readcount else ''}}</td>
			<td>{{ stat.on_target|giga }}</td>
			<td>{{ stat.capture_coverage_1|percentage }}</td>
			<td>{{ stat.capture_coverage_5|percentage }}</td>
			<td>{{ stat.capture_coverage_10|percentage }}</td>
			<td>{{ stat.capture_coverage_20|percentage }}</td>
			<td>{% if stat.paired %}
				<a href="{{ request.script_root }}/fastqc/{{ stat.unit.prefix }}.1_fastqc/fastqc_report.html"> FastQC </a>
				{% else %}
				<a href="{{ request.script_root }}/fastqc/{{ stat.unit.prefix }}_fastqc/fastqc_report.html"> FastQC </a>
				{% endif %}
				, {{ igv_link(stat.unit.prefix) }}
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}

