{% extends "layout.html" %}
{% block title %}Sequenced units{% endblock %}
{% block body %}
{% import 'modules/columnhide.html' as columnhide %}

	{% set colnames = ("File name", "Sample", "Date", "Machine", "Lane", "Barcode", "Capture kit", "Imported?") %}
	{{ columnhide.hidebuttons('tableunits', colnames) }}

	<p>Showing {{ units|length }} units.</em></p>
	<table class="table table-bordered table-condensed table-striped sortable">
		<thead>
		<tr>
			{% for col in colnames %}
			<th> {{ col }} </th>
			{% endfor %}
		</tr>
		</thead>
		<tbody>
		{% for unit in units %}
		<tr>
			<td><a href="{{ url_for("unit", prefix=unit.prefix) }}">{{ unit.prefix }}</a></td>
			<td>{{ unit.library.sample.accession }}</td>
			<td>{{ unit.run.date }}</td>
			<td>{{ unit.run.machine }}</td>
			<td>{{ unit.lane|none_filter }}</td>
			<td>{{ unit.barcode|none_filter }}</td>
			<td>{{ unit.library.capturekit.short_name }}</td>
			<td>{% if unit.stats.imported %}&#x2713;{% endif %}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
