{% extends "layout.html" %}
{% block title %}Query variants{% endblock %}
{% block body %}

<p>This page allows you to search the entire database for any variant given by
its coordinates (chromosome and position), or for all variants in a region.
The variants will be searched among all <em>calls</em> (variants from all the
samples) and among all <em>known</em> variants (variants known from external
sources, such as dbSNP).</p>

<h2>Examples</h2>
<ul>
<li>22:25745890-25745950</li>
<li>1:152749036</li>
<li>chr17:12748834</li>
</ul>
<p>Multiple variants are also accepted.</p>

<form data-persist="garlic" data-destroy="false" method="post" action="{{ url_for('variants') }}" class="well" style="display: inline-block;">
	<label>Find variants at the following positions or regions in the database:</label>
	<textarea rows="8" class="span5" name="coordinates" id="coordinates"></textarea><br/>
	<label>Show variants within:</label><input class="span5" name="context" type="text" value="10"/>bp<br/>
	<label class="checkbox">
		<input type="checkbox" id='show_variant_id' name="show_variant_id" value='yes'/>display variant identifiers
	</label>
	<button type="submit" class="btn">Submit</button>
</form>
{% endblock %}
