{% extends "layout.html" %}
{% from "macros.html" import aux_filter %}
{% block title %}Variant Context{% endblock %}
{% block head %}
<script>
	$(document).ready(function(){
		$(".chzn-select").chosen();
		$(".chzn-select-deselect").chosen({allow_single_deselect:true});
	});
</script>
{% endblock %}
{% block body %}

<form data-persist="garlic" data-destroy="false" method="post" action="{{ url_for('context') }}" class="well" style="width: 400px;">
	<label>Sample</label>
	<select select data-placeholder="Pick Samples" class="chzn-select" tabindex="4" autofocus="autofocus" data-role="chosen" id="samples" multiple name="samples">
		{% for sample in samples %}
			<option value="{{ sample.id }}">{{ sample.accession }}</option>
		{% endfor %}
	</select>
	<p>--or--</p>
	<label>Disease</label>
	<select select data-placeholder="Pick Disease" class="chzn-select" tabindex="4" autofocus="autofocus" data-role="chosen" id="diseases" name="diseases">
		<option value="-1"></option>
		{% for disease in diseases %}
			<option value="{{ disease.id }}">{{ disease.name }}</option>
		{% endfor %}
	</select>

	<label>Minimum quality:</label>
	<input class="span5" name="quality" type="number" value="{{ quality }}" style="width: auto"/><br/>
	
	{{ aux_filter() }}
	
	<label><em>Please be patient, the query will take a few minutes to complete.</em></label>
	<button type="submit" class="btn">Submit</button>
</form>

{% endblock %}
