{% extends "layout.html" %}
{% from "macros.html" import aux_filter %}
{% block title %}Variant Context{% endblock %}
{% block body %}

<div id="context-count-hist" style="height: 700px" data-type="discretelinechart" data-legend="true" data-precision="3" data-controls="true"></div>
<table class="table table-bordered table-condensed table-striped sortable chart"
data-chart-ids="{%- for sample in samples -%}{{ sample|lower }} {% endfor -%}"
{% for sample in samples %}
data-chart-{{ sample|lower }}-x="1" data-chart-{{ sample|lower }}-y="{{ loop.index+1 }}" data-chart-{{ sample|lower }}-label="{{ sample }}" data-chart-{{sample|lower}}-target="context-count-hist"
{% endfor %}
>
	<thead>
		<tr>
			<th>Context</th>
			{% for sample in samples %}
				<th>Count % {{sample}} </th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
			{% for context in result %}
				<tr>
					<td>{{ context }}</td>
					{% for sample in samples %}
						<td>{{'%0.4f'| format(result[context][sample] * 100 / sums[sample])}}</td>
					{% endfor %}
				</tr>
			{% endfor %}
	</tbody>
</table>
{% endblock %}
