{% macro hidebuttons(tablename, colnames) -%}
{%- endmacro %}

{% macro hidebuttonsold(tablename, colnames) -%}
	<script>
	$(function() {
		$('.columnhide button.btn').button('toggle');
	});
	</script>

	<div class='hidebuttons' style='margin-bottom:15px;">
		<span class='description'>show columns</span>
		{% set i=0 %}
		{% autoescape false %}
		<div class='btn-group columnhide' data-toggle="buttons-checkbox">
		{% for col in colnames %}
			<button class='btn' name="{{ col }}" onchange="show_hide_column('{{ tablename }}', {{ i }}, this.checked)">{{ col }}</button>
		{% set i=i+1 %}
		{% endfor %}
		</div>
		{% endautoescape %}
	</div>
{%- endmacro %}
